/** {
    box-sizing: border-box;
	  -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
   -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

body{
	background-color: #8E9BFF;
}
.rectangle{
height: 40vh;
	width: 70%;
	background-color: white;
	margin:30vh auto;
box-shadow: 0 22px 50px rgba(14,21,47, .2), 0 8px 20px rgba(14,21,47, .2);

}
.in1{
	margin-left:2%;
}
.inner{
	height: 34vh;
	width: 32%;
	margin-top:3vh;
	padding-top: 2%;
 
float: left;
}
.row:hover{
	background-color: lightgrey;
}
h4{
	font-size: 100%;
}
.p{
	max-width: 70%;
	font-size: 100%;
}
*/
* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
body{
	background-color: #8E9BFF;
}

.item:hover{
	background-color: #F6F6F6;
}
.container{
	width: 68%;
	background-color: white;
	margin:20vh auto;
box-shadow: 0 22px 50px rgba(14,21,47, .2), 0 8px 20px rgba(14,21,47, .2);
padding-left: 3%;
padding-right: 3%;
}
.item{
	/*height: 48vh;*/
	width: 32%;
	margin-top:3vh;
	margin-bottom:3vh;
	padding-top: 4%;
	padding-bottom: 4%;
	
	transition:background 0.2s ease-in-out;

}
/*.item:first-child { 
    margin-left: 1%;
}
.item:last-child { 
    margin-right: 1%;
}
*/.p{
	color: #c9c7c7;
	margin-top: 7%;
	max-width: 80%;
	font-size: 86%;
}
.item_price{
color: #5D78D5;
margin-top: 7%;
}
.item_value{
	font-weight: 500;
font-size: 155%;

}
.icon{
color:#5D78D5;
font-weight: 700;
letter-spacing: 3px;
padding-top: 15%;
}
img{
	width: 22%;
	height: 22%;
}
